repos:
  - repo: https://github.com/PyCQA/flake8
    rev: 6.0.0
    hooks:
    - id: flake8
      additional_dependencies: [flake8-print, flake8-quotes, flake8-use-fstring, pep8-naming, flake8-import-order, flake8-docstrings]
      args: [--config=.flake8]
      exclude: ^(.git|__pycache__|.github|.pytest_cache|venv|build|dist|oppe.egg-info)/.*\.py$
  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        name: isort (python)
