name: "Code Style"

on:
  pull_request:
    types:
      - synchronize
      - opened
      - edited

jobs:
  validation:
    name: "Validation"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ "3.8", "3.9", "3.10" ]
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4
      - name: Set up Python ${{ inputs.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip' # caching pip dependencies
      - name: Install All Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r all.txt
      - name: Run flake8
        run: |
          flake8 --config=.flake8
      - name: Check for vulnerabilities
        uses: pypa/gh-action-pip-audit@v1.0.6
        with:
          inputs: requirements.txt requirements-dev.txt
